@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Over Here i am Adding The Given Fonts By Adding a fonts Folder in Public Because we Have to add all our Assets in Public Folder Since its SSR */

@font-face {
  font-family: 'Montserrat-Semibold';
  src: url('/fonts/Montserrat-SemiBold.ttf')format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../public/fonts/Montserrat-Regular.ttf')format('truetype');
}
